@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  height: 100svh;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.thermometer ul.thermometer__statistics li:before,
.thermometer--theme-dark ul.thermometer__statistics li:before {
  background: transparent !important;
}

@layer basae {
  :root {
    --primary: 249 255 0;
    --primary-accent: 163 0 241;
    --secondary: 237 238 243;
    --secondary-accent: 225 227 238;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
